.checkout{
    display: flex;
    padding: 30px 15px;
    width: 100%;
}

.checkout__left{
    display: flex;
    flex-direction: column;
    flex:3;
    z-index: 2;
    padding: 20px;
    background-color: white;
}

.checkout__left__ad{
    width: 100%;
    object-fit: contain;
}

.checkout__left__title{
    font-size: 1.3rem;
    margin-right: 10px;
    padding:10px;
    border-bottom: 1px solid grey;
}

.checkout__left__products{
    display: flex;
    flex-direction: column;
}

.checkout__right{
    flex: 1;
    padding:20px;
    background-color: white;
}

.checkout__right__subtotal{
    object-fit: contain;
    width: 300px;
}